html {
  font-family: "Open Sans" !important;
}

body {
  background-color: #f6fafd;
}

header .banner, footer .banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F8FAFC;
}

header .banner {
  background-image: url("/images/shared/banner.png");
}

header .banner .banner-text {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header .header-col-1 {
  margin-left: 11rem;
  margin-right: 10rem;
}

header .header-col-2 li {
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}

header li.register-partner {
  margin-left: 15rem;
}

header li.register-partner > a {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.3rem 1.6rem;
  text-decoration: none;
  width: 180px;
}

header li.register-partner > a:hover {
  color: #C54DA2!important;
  background-color: #ffffff;
}

header nav.navbar {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.row h4, .row h5 {
  color: #3f3d6c;
  font-weight: 700;
}

.partial {
  padding: 5rem 10rem 5rem 10rem;
}

.sub-partial {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.underline {
  border-bottom: 0.2rem solid #f66d9b;
  width: 2.4rem;
  margin: auto;
  padding-top: 0.8rem;
}

.bg-hawari-linear-horizontal {
  background:#52418a;
  background:-webkit-linear-gradient(right,#52418a 0%,#231c81 75%);
  background:-moz-linear-gradient(right,#52418a 0%,#231c81 75%);
  background:-o-linear-gradient(right,#52418a 0%,#231c81 75%);
  background:-ms-linear-gradient(right,#52418a 0%,#231c81 75%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#231c81',endColorstr='#52418a',GradientType=1);
}

.bg-hawari-padding {
  padding: 4rem 0rem 3rem 10rem;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-hawari {
  background-color: #fa758c;
  border-color: #fa758c;
  border-radius: 25px;
  color: #ffffff!important;
}

.btn-hawari:hover {
  color: #ffffff!important;;
  background-color: #d9586e;
}

footer .banner {
  background-color: #59478C;
  border-top-left-radius: 227px;
}

footer .first-row {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

footer .middle-row {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .middle-row h5 {
  padding-bottom: 1rem;
  font-weight: 700;
}

footer .middle-row a, footer .middle-row a:hover {
  color: #fff;
  text-decoration: none;
}

footer .middle-row-col-1, footer .middle-row-col-2 {
  padding-left: 75px;
}

footer .middle-row-col-3 {
  padding-left: 50px;
}

footer .last-row {
  width: 100%;
}

@media only screen and (max-width : 768px) {
  header .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 67px;
    padding-bottom: 15px;
    background-color: #824798;
  }
  
  header .header-col-1 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  header li.register-partner {
    margin-left: 1.7rem;
  }
  
  .partial {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
  
  .bg-hawari-padding {
    padding: 4rem 0rem 3rem 2rem;
  }
  
  footer .middle-row-col-1, footer .middle-row-col-2, footer .middle-row-col-3 {
    padding-left: 15px;
    padding-bottom: 40px;
    margin: auto;
    width: 300px;
    text-align: center;
  }
  
  footer .middle-row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  footer .middle-row h5 {
    padding-bottom: 0.2rem;
  }
}
