header .banner {
  height: 80vh;
  background-image: url("/images/home/home_banner.png");
}

header .banner .banner-text {
  width: 46rem;
  padding-top: 10rem;
  padding-left: 20rem;
  margin: 0;
}

.package {
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0.2rem #ced4da;
  border-radius: 5px;
  max-width: 401px;
}

.package img {
  border-radius: 5px 5px 0 0;
}

.package .content {
  padding: 20px 25px;
}

.package .content .original-price {
  text-decoration: line-through;
  margin-top: 5px;
  font-size: smaller;
}

.package .content .price {
  color: #CD439C;
  font-weight: bolder;
}

.package .content .btn-hawari {
  width: 100%;
  margin-top: 15px;
}

.superiority {
  max-width: 250px;
  margin: auto;
}

.superiority img {
  width: 40px;
  height: auto;
}

@media only screen and (max-width : 768px) {
  header .banner {
    height: 100vh;
    background-image: url("/images/home/m_home_banner.png");
  }
  
  header .banner .banner-text {
    width: 100%;
    padding-top: 8rem;
    padding-left: 8rem;
  }
  
  .package {
    margin: auto auto 20px auto;
  }
  
  #superiority .sub-partial {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  
  .sub-partial .superiority {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width : 668px) {
  header .banner {
    height: 90vh;
  }
  
  header .banner .banner-text {
    padding-top: 5rem;
    padding-left: 5rem;
  }
}

@media only screen and (max-width : 568px) {
  header .banner {
    height: 80vh;
  }
  
  header .banner .banner-text {
    padding-top: 4rem;
    padding-left: 4rem;
  }
}

@media only screen and (max-width : 489px) {
  header .banner {
    height: 70vh;
  }
  
  header .banner .banner-text {
    padding-top: 3rem;
    padding-left: 3rem;
  }
}
